.sort-bar {
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
}

.asc::after {
    content: '☝';
    display: inline-block;
    margin-left: 1em;
}

.des::after {
    content: '👇️';
    display: inline-block;
    margin-left: 1em;
}
